.register{
    background-color: lightseagreen;
    width: 70vw;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
}
.form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    height: 80%;
    background-color: white;
    border-radius: 20px;
}
.form>button{
    border: none;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: lightseagreen;
    cursor: pointer;
}
.form>input{
    border: none;
    padding: 10px;
    border-radius: 10px;
    border-bottom: 3px solid lightgray;
}
.register>button{
    margin-top: 10px;
    border: none;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
}